@import '~@angular/material/theming';
@include  mat-core();

$my-theme-primary: mat-pallette($mat-indigo);
$my-theme-accent: mat-pallette($mat-pink, A200, A100, A400);
$my-theme-warning: mat-pallette($mat-red);

$my-theme:mat-light-theme($my-theme-primary, $my-theme-accent,$my-theme-warning);
@include angular-material-theme($my-theme);

