<div class="grid-container">
  <h1 class="mat-h1">Ajouter Un Client</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}


          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">



<p></p>
          <div>
            <form class="example-form">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nom:</mat-label>
                <input type="text" matInput [formControl]="emailFormControl" placeholder="Exemple : Mohamed ou Ali, etc...">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Le Nom est obligatoire ! !
                </mat-error>
              </mat-form-field>
            </form>




          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
